@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


*,
::before,
::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {

    /* Primary */
    --cyan: hsl(179, 62%, 43%);
    --cyan-1: hsla(179, 62%, 43%, 0.7);
    --bright-yellow: hsl(71, 73%, 54%);

    /* Neutral */

    --light-gray: hsl(204, 43%, 93%);
    --grayishblue: hsl(218, 22%, 67%);
    --white: hsl(0, 0%, 100%);

    --border-radius: 0.25rem;

}

html {font-size: 100%;} /*16px*/

body {
    background: var(--white);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
}

p {
    margin-bottom: 1rem;
    font-size: .85rem;
    line-height: 1.25;
}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text-small {font-size: 0.8rem;}

.sr-only{
    border:0; 
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.btn {

    display: block;
    width: 100%;
    background: var(--bright-yellow);
    border: transparent;
    border-radius: 0.25rem;
    color: var(--white);
    padding: 1rem
}

main {
    display: grid;
    min-height: 100vh;
}
footer {
    margin-top: 1rem;
    justify-self: center;
}
/* 
=====================================
Card
=====================================
*/
.card-container {
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    padding-top: 2rem;
    grid-template-rows: repeat(3, max-content);
}


.card {
    width: 318px;
    padding: 0 1.5rem 1rem;   
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); 

}

.card:nth-of-type(1){
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    
}

.card:nth-of-type(3) {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.card h2 {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: left;
    margin-top: 1rem;
    font-size: medium;
}

.card p {
    font-size: 0.85rem;
}

.join-card h2 {
    color: var(--cyan)
}

.join-card p:first-of-type {
    color: var(--bright-yellow);
    margin-top: 2rem;
}

.join-card p:nth-of-type(2) {
    margin-top: 1.5rem;
    color: var(--grayishblue);
    line-height: 1.65;
}

.monthly-card {
    background-color: var(--cyan);
    color: var(--white);
}


.monthly-card p:nth-child(3){
    margin-top: -0.45rem;
}
.monthly-card .btn {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
.rate {
    display: flex;
    align-items: center;
}

.monthly-rate {
    font-size: 2.2rem;
    margin-right: 1rem;
}

.lighter-text {
    color: var(--light-gray);
}

.why-card {
    background: var(--cyan-1);
    color: var(--light-gray);
    font-weight: 400;
}

.why-card h2 {
    font-weight: 700;
}

.why-card ul {
    list-style: none;
}
.why-card li {
    font-size: 0.85rem;
}


/* 
===========================================
Media query
===========================================
*/


@media screen and (min-width: 1440px) {

    .card-container {
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: repeat(2, 1fr);
        justify-self: center;
    }
    .card:nth-of-type(2), .card:nth-of-type(3) {
        height: 103%;
    }
    .card:nth-of-type(3) {
        border-bottom-left-radius: 0;

    }
    .card:nth-of-type(2) {
        border-bottom-left-radius: var(--border-radius);
    }
    .join-card {
        grid-area: 1/1/2/3;
        max-width: 636px;
        max-height: 220px;
        height: 100%;
        width: 100%;
        font-size: 1.5rem;
        padding:2rem 2.5rem;
    }
    .join-card h2 {
        font-size: 1.45rem;
    }
    .join-card p{
        font-size:1rem;
    }
    .monthly-card {
        grid-area: 2/1/3/2;
        height: 100%;
        width: 100%;
    }

    .monthly-rate {
        font-size: 2rem;
        margin-top: -1rem;
        margin-left: 0.5rem;
    }
    .monthly-card h2, .why-card h2 {
        font-size: large;
        padding-top: 1.2rem;
        padding-left: 1rem;
    }
    .monthly-card .btn {
        width: 88%;
        margin-left: 1.2rem;
        margin-top: 1.75rem;
        text-align: center;
    }

    .rate {
        align-items: flex-start;
    }
    .why-card {
        grid-area: 2/2/3/3;
    }
    .why-card ul li{
        padding-left: 0.9rem;
        margin-top: -0.25rem;
    }
    
}